@import url('https://fonts.googleapis.com/css?family=Montserrat');
#pasha {
  margin: 0 auto;
  width: 1400px;
  height: 8000px;
  right: 100px;
}
.navigate-bar {
  background: white;
  position: relative;
  width: 1400px;
  height: 110px;
  bottom: 50px;
  margin: 0 auto;
  padding: 0 auto;
  right: 130px;
 }
.logo {
  position: relative;
  font-weight: bold;
  margin-top: 30px;
  top: 30px;
  font-size: 40px;
  left: 50px;
}
.logo a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
nav > ul > li {
  display: inline-block;
  position: relative;
  left: 300px;
}
.menu-bar a {
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}
.search {
  width: 20%;
  position: relative;
  left: 870px;
  bottom: 35px;
}
.search input {
  border: none;
}
.search .input {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}
.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}
.search .submit:hover {
  opacity: 0.8;
}
input[type="search"] {
  -webkit-appearance: none;
}
.social1 {
  bottom: 85px;
  position: relative;
  left: 1190px;
}
.social2 {
  bottom: 85px;
  left: 1210px;
  position: relative;
}
.social1 img:hover {
  transform: scale(1.1);
}
.social2 img:hover {
  transform: scale(1.1);
}
#left {
  position: relative;
  bottom: 340px;
  left: 20px;
}
#right {
  position: relative;
  bottom: 340px;
  left: 1240px;
}
.slider {
  position: relative;
  bottom: 50px;
  margin: 0 auto;
  padding: 0 auto;
  right: 130px;
  width: 1400px;
}
#left:hover {
  transform: scale(1.1);
}
#right:hover {
  transform: scale(1.1);
}
#left:active {
  transform: scale(1);
}
#right:active {
  transform: scale(1);
}
.first-section {
  bottom: 140px;
  height: 700px;
  width: 1400px;
  background: white;
  position: relative;
}
.about-us h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 580px;
  top: 70px;
}
.block  {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  height: 700px;
  width: 300px;
  top: 120px;
}
.block p {
  margin-top: 40px;
}
.block h3 {
  margin-top: 50px;
  text-align: center;
}
.first-col {
  left: 150px;
}
.second-col {
  left: 240px;
}
.third-col {
  left: 350px;
}
.second-section {
  bottom: 170px;
  height: 700px;
  width: 1400px;
  background: #2ac5ff;
  position: relative;
}
.products {
  position: relative;
  top: 100px;
  left: 220px;
}
.products h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 350px;
  bottom: 40px;
}

.third-section {
  bottom: 190px;
  height: 600px;
  width: 1400px;
  background: white;
  position: relative;
}
.team h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 580px;
  top: 70px;
}
.team-memb  {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  height: 400px;
  width: 250px;
  
}
.team-memb h3 {
  text-align: center;
}
.first-memb {
  left: 100px;
  top: 100px;
}
.second-memb {
  left: 190px;
  top: 125px;
}
.third-memb {
  left: 270px;
  top: 100px;
}
.fourth-memb {
  left: 340px;
  top: 125px;
}
.team .teamred {
  color: red;
}