<div id="artemPage" class="container">

    <div class="jumbotron text-center">
        <h1>Hello ! : )</h1>
        <p class="lead">
            <div class="logo">

            </div>
            
    </div>

    <div class="forms">


        <form>
            
                <h1> Заполните форму </h1>
                <div class="inputDate">
                    {{firstName}}
                    {{lastName}}
                    
                </div>
         <table>
            <tr>
                <td>
                    <P> Введите имя: </P>
                </td>
                <td>
                    <input type="text" ng-model="firstName" placeholder="Введите свое имя">
                </td>
            </tr>
            <tr>
                <td>
                    <P> Введите фамилию: </P>
                </td>
                <td>
                    <input type="text" ng-model="lastName" placeholder="Введите свое фамилию">
                </td>
            </tr>
            <tr>
                <td>
                    <P> Введите пароль: </P>
                </td>
                <td>
                   <input type="text" ng-model="password" placeholder="Введите свое пароль">
                </td>
            </tr>

        </table>

                <button> Check!</button>
                
           
        </form>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" data-ng-repeat="item in vm.connections | orderBy:'rank' ">
            <div class="thumbnail">
                <img class="pull-right" width="90" data-ng-src="{{ item.logo }}" alt="{{ awesomeThing.title }}">
                <div class="caption">
                    <h3><a target="_blank" data-ng-href="{{item.url}}">{{ item.name }}</a></h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>

</div>
