<div  id="nakhaev"  class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div
                    class="tile tile-wide"
                    data-ng-repeat="item in vm.connections | orderBy:'rank'"
                    data-ng-class="{'tile-regular': $index%2==0, 'tile-danger': $index%2!=0, 'tile-success': $index%3==0, 'tile-warning': $index%5==0, 'tile-primary': $index%7==0}"
                    data-ng-click=""
                        >
                    <img class="img-responsive pull-right logo" width="80" data-ng-src="{{ item.logo }}" alt="{{ awesomeThing.title }}">
                    <div class="caption">
                        <h3><a target="_blank" data-ng-href="{{item.url}}">{{ item.name }}</a></h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                <div
                    class="tile tile-one"
                    data-ng-repeat="item in vm.connections | orderBy:'rank'"
                    data-ng-class="{'tile-regular': $index%2==0, 'tile-danger': $index%2!=0, 'tile-success': $index%3==0, 'tile-warning': $index%5==0, 'tile-primary': $index%7==0}"
                    data-ng-click="vm.hello(this);"
                        >
                    <img class="img-responsive logo" width="90" data-ng-src="{{ item.logo }}" alt="{{ awesomeThing.title }}">
                    <div class="caption">
                        <h3><a target="_blank" data-ng-href="{{item.url}}">{{ item.name }}</a></h3>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
